.epii .form-group {

    clear: both;

    display: flex;
}

.epii .form-group label {
    margin: 5px;
    vertical-align: middle;
}

.epii .form-group label {
    float: left;

    text-align: right;
    width: auto;
    min-width: 20%
}

.epii .form-group input, .epii .form-group select, .epii .form-group textarea, .epii .form-group .epii-filed {
    float: left;
    width: 70%;
    text-align: left;
}

.epii .form-group input.error, .epii .form-group select.error, .epii .form-group textarea.error, .epii .form-group .epii-filed .error {
    width: 40%;

}

.form-footer {
    width: 90%;
    text-align: right;
}

.epii .form-group label.error {
    float: left;
    width: 30%;

    display: inline;
    text-align: left;

}

.form-group label.error {
    color: red;
}

.epii .form-group input[type=radio], .epii .form-group input[type=checkbox] {
    float: none !important;
    width: auto !important;
}

.card-body {
    padding: 0.5rem 1.25rem !important;

}

.card-header {
    padding: 0.6rem 1.25rem !important;

}

.epii-plr-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.epii-plr-5 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.sidebar-dark-primary {
    background-color: #343a40;
}

.sidebar-bg-0b1c2d-primary .user-panel a:hover {
    color: #0b1c2d;
}

.sidebar-dark-primary .user-panel .status {
    color: #C2C7D0;
    background: rgba(255, 255, 255, 0.1);
}

.sidebar-dark-primary .user-panel .status:hover, .sidebar-dark-primary .user-panel .status:focus, .sidebar-dark-primary .user-panel .status:active {
    color: #ffffff;
    background: rgba(245, 255, 240, 0.1);
}

.sidebar-dark-primary .user-panel .dropdown-menu {
    border-color: rgba(238, 255, 230, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.sidebar-dark-primary .user-panel .dropdown-item {
    color: #212529;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link:active, .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link:focus {
    color: #C2C7D0;
}

.sidebar-dark-primary .nav-sidebar > .nav-item.menu-open > .nav-link, .sidebar-dark-primary .nav-sidebar > .nav-item:hover > .nav-link {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    color: #ffffff;
    background-color: #007bff;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-treeview {
    background: transparent;
    padding-left: 10px;
}

.sidebar-dark-primary .nav-header {
    color: #d0d4db;
    background: inherit;
}

.sidebar-dark-primary .sidebar a {
    color: #C2C7D0;
}

.sidebar-dark-primary .sidebar a:hover {
    text-decoration: none;
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link {
    color: #C2C7D0;
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active, .sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active:hover {
    color: #ffffff;
    background-color: #007bff;
}

.form-inline .form-group {
    margin: 7px;
}

.form-inline button {
    margin: 3px;
}

.label30 label {
    min-width: 30% !important;
}

.label10 label {
    min-width: 10% !important;
}

.label15 label {
    min-width: 15% !important;
}




.epii-upload-files-div {
    margin: 10px 5px;
    transition: all 0.6s;
    position: relative;
    float: left;
}

 
.epii-upload-file-close {

    background: url(../js/plugins/layer/theme/default/icon.png) no-repeat;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -149px -31px;
    background-position-x: -149px;
    background-position-y: -31px;
    z-index: 100;
}

.epii-upload-files-div:hover{
    background: #343a409e;
    border-radius: 5px;
}
.epii-upload-files-div:hover .epii-upload-file-icon{
    opacity: 0.5;
}
.epii-upload-preview{
    overflow: auto;
    border: 0.5px solid #dcdcdc;
    margin-top: 10px;
    padding: 0px 15px;
    width: 98%;
    margin: 0px auto;
    border-radius: 2px;
 
}
.epii-upload-preview-btn{
    border: 1px dashed #8c939d;
    float: left;
    width: 150px;
    height: 270px;
    margin: 30px 10px;
    border-radius: 5px;
    text-align: center;

}
.epii-upload-preview-files{

}
 


.epii-upload-file-icon {
   
    border-radius: 5px;
    width: 150px;
    height: 150px;
    border: 0.5px solid #dcdcdc;
     display: flex;
     align-items: center;
     justify-content: center;
  }
  .epii-upload-file-icon img {
    max-width: 150px;
    padding: 2px 5px;
    max-height: 150px;
   
  }

  .epii-upload-preview-btn,
  .epii-upload-preview-btn-phone {
    border: 1px dashed #8c939d;
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px 5px;
    border-radius: 5px;
    text-align: center;
  }

  .epii-upload-preview-add {
    color: #8c939d;
    font-size: 44px;
    margin-top: 10px;
    text-align: center;
  }

  .epii-upload-preview-add-phone-title {
    font-size: 24px;
    /* margin-top: 15px; */
  }

  .epii-upload-preview-add-phone {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #8c939d;
    margin-top: 10px;
  }

  .epii-upload-phone-qrcode img {
    width: 71%;
    margin: 16px auto 0;
  }

  .epii-upload-phone-qrcode-div .epii-upload-preview-add-phone-title {
    font-size: 20px;
    /* margin-top: 5px; */
  }
  @media screen and (max-width:1200px) {
    .epii-upload-files-div {
      margin: 9px 5px;
    }

    .epii-upload-preview {
      border: none;
      width: 100%;
      margin: 0 auto;
      border-radius: 3px;
      padding: 0;
    }
    .epii-upload-file-icon img {
        max-width: 100px;
        padding: 2px 5px;
        max-height: 100px;
       
      }
    .epii-upload-file-icon {
      padding: 5px;
      border-radius: 5px;
      width: 100px;
      height: 100px;
      border: 0.5px solid #dcdcdc;
    }

    .epii-upload-preview-btn,
    .epii-upload-preview-btn-phone {
      float: left;
      width: 100px;
      height: 100px;
      margin: 10px 5px;
      border-radius: 5px;
    }

    .epii-upload-preview-add {
      margin-top: 0;
      font-size: 25px;
    }

    .epii-upload-preview-add img,
    .epii-upload-preview-add-phone img {
        margin-top: 10px;
      width: 50%;
    }

    .epii-upload-preview-add-phone-title {
      font-size: 16px;
      margin-top: 1px;
    }

    .epii-upload-preview-add-phone {
      /* margin-top: 14px; */
      margin-top: 0px;
    }

    .epii-upload-phone-qrcode img {
      width: 69%;
      margin: 8px auto 0;
    }

    .epii-upload-phone-qrcode-div .epii-upload-preview-add-phone-title {
      font-size: 15px;
      margin-top: 0px;
    }

  }